@charset "utf-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;

	font-size: 1em;
}

body,
table,
input, textarea, select, option {
	font-family: メイリオ, Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	line-height: 1.1;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

img {
	vertical-align: top;
}

li img,
dl img {
	display: block;
	vertical-align: baseline;
}

a,
a:link {
	color: #0043a8;
	text-decoration: underline;
}

a:visited {
	color: #0043a8;
	text-decoration: underline;
}

a:hover {
	color: #0043a8;
	text-decoration: none;
}

a:active {
	color: #0043a8;
	text-decoration: none;
}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	background: url(../../img/common/body_bg02.png) repeat center top;
	color: #727171;
	font-size: 12px;
	line-height: 1.5;
	-webkit-text-size-adjust: none;
	min-width: 1000px;
}

#container {
	text-align: left;
	margin: 0 auto;
	width: 980px;
}

#main {
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#gHeader h1 {
	float: left;
}

/*
#gHeader h1 a:hover img {
	filter: alpha(opacity=80);
	opacity: 0.8;
}
*/

#gHeader .rBox {
	background: #fffbf2;
	float: right;
	width: 733px;
	text-align: center;
}

#gHeader .rBox a:hover img {
	filter: alpha(opacity=90);
	opacity: 0.9;
}

#gHeader .hBox {
	display: none;
}

#gHeader .hInner {
	display: none;
}

#gHeader .spBox {
	display: none;
}

.spInner {
	display: none;
}

/*------------------------------------------------------------
	gNavi
------------------------------------------------------------*/
#gNavi {
	margin: 7px 23px 9px 23px;
	padding: 3px 0 3px 0;
}

#gNavi li {
	padding: 9px 0;
	border-bottom: dotted 2px #b5b5b6;
}

#gNavi li a {
	display: block;
}

#gNavi .navi01 a {
	background: url(../../img/common/g_navi01_over.png) no-repeat;
}

#gNavi .navi02 a {
	background: url(../../img/common/g_navi02_over.png) no-repeat;
}

#gNavi .navi03 a {
	background: url(../../img/common/g_navi03_over.png) no-repeat;
}

#gNavi .navi04 a {
	background: url(../../img/common/g_navi04_over.png) no-repeat;
}

#gNavi .navi05 a {
	background: url(../../img/common/g_navi05_over.png) no-repeat;
}

/*------------------------------------------------------------
	sideBar
------------------------------------------------------------*/
#sideBar {
	float: left;
	width: 247px;
	background: #fdfffa;
}

#sideBar .sideBox {

}

#sideBar .ttlImg {
	padding-bottom: 9px;
	text-align: center;
}

#sideBar .newsBox {
	margin: 0 23px 9px;
	background: url(../../img/common/newsBox_bg.png) no-repeat;
	padding: 52px 10px 18px 0;
}

#sideBar .newsBox .title {
	margin-bottom: 5px;
	text-align: center;
}

#sideBar .newsBox .dlBox {
	margin-right: 3px;
}

#sideBar .newsBox .dlBox .scroll {
	overflow: auto;
	height: 142px;
}

#sideBar .newsBox .dlBox dl {
	margin-left: 15px;
	color: #003564;
	font-size: 12px;
	line-height: 1.25;
}

#sideBar .newsBox .dlBox dt {
	float: left;
}

#sideBar .newsBox .dlBox dd {
	padding: 0 0 4px 3em;
}

#sideBar .newsBox .dlBox dd a {
	color: #003564;
	text-decoration: none;
}

#sideBar .newsBox .dlBox dd a:hover {
	text-decoration: underline;
}

#sideBar .sBox {
	padding: 21px 0 31px;
}

#sideBar .sBox .title {
	margin-bottom: 16px;
	text-align: center;
}

#sideBar .sBox .text {
	color: #fff;
	font-size: 13px;
	line-height: 1.25;
	margin: 0 33px;
}

/*------------------------------------------------------------
	conts
------------------------------------------------------------*/
#conts {
	float: right;
	width: 733px;
	background:#FFFFFF;
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#gFooter {
	clear: both;
	overflow: hidden;
}

#gFooter .listUl {
	background-color: #ff8e7a;
	float: left;
	width: 247px;
}

#gFooter .listUl li {
	float: left;
}

#gFooter .listUl li a:hover img {
	filter: alpha(opacity=70);
	opacity: 0.7;
}

#gFooter .copyright {
	background-color: #c9e080;
	float: right;
	padding: 16px 41px 10px 0;
	text-align: right;
	width: 692px;
}

#gFooter .sp_ul {
	display: none;
}

@media all and (min-width: 0px) and (max-width: 640px) {
	body {
		min-width: inherit;
		
		background: #fdfffa;
	}
	
	#container {
		width: auto;
	}
	
	#gHeader h1 {
		display: none;
	}
	
	#gHeader .rBox {
		display: none;
	}
	
	#gHeader .hBox {
		display: block;
	}
	
	#gHeader .hBox img {
		width: 100%;
	}
	
	#gHeader .hBox h1 {
		display: block;
		width: 100%;
		
		height: 75px;
		text-align: center
	}
	
	#gHeader .hBox h1 img{
		height: 75px;
		width: auto;
	}
	
	#gHeader .hBox .menu {
		position: absolute;
		top: 25px;
		right: 20px;
		width: 30px;
		height: 33px
	}
	
	#gHeader .hInner {
		background: url(../../img/common/sp_bg02.jpg) repeat-y left top;
		background-size: 100% auto;
		display: block;
		padding: 0 17px 9px;
	}
	
	#gHeader .hInner .btnBox {
		display: none;
	}
	
	#gHeader .hInner .text {
		color: #fff;
		font-size: 10px;
		line-height: 1.7;
		margin: 13px 0 9px;
	}
	
	#gHeader .hInner .btn {
		margin: 0 30px;
	}
	
	#gHeader .hInner .btn img {
		display: block;
		width: 100%;
	}
	
	#gHeader .hInner .btn .openImg {
		display: none;
	}
	
	#gHeader .hInner .btn .open img {
		display: none;
	}
	
	#gHeader .hInner .btn .open .openImg {
		display: block;
	}
	
	
	#gHeader .hInner .closeImg {
		text-align: center;
	}
	
	#gHeader .spBox {
		display: block;
	}
	
	#gHeader .spBox img {
		width: 100%;
	}
	
	.spInner {
		position: absolute;
		left: 0;
		top: 75px;
		z-index: 1500;
		width: 100%;
		box-sizing: border-box;	
	}
	
	.spInner .spBox {
		
	}
	
	.spInner .spBox .linkUl {
		border-top: solid 3px #b5b5b6;
	}
	
	.spInner .spBox .linkUl li {
		width: 100%;
		border-bottom: solid 1px #b5b5b6;
	}	
	
	.spInner .spBox .linkUl li img {
		width: 100%;
	}
	
	.spInner .spBox .btmImg {
		text-align: center;
	}
	
	.spInner .spBox .btmImg a {

	}
	
	.spInner .spBox .btmImg img {
		width: 100%;
	}
	
	.spInner .close {
		cursor: pointer;
	}
	
	.spInner .close img {
		width: 100%;
	}
	
	#conts {
		float: none;
		margin-bottom: 10px;
		width: auto;
	}
	
	#sideBar {
		display: none;
		float: none;
		width: auto;
	}
	
	#gFooter .heightLine-b {
		height: auto !important;
	}
	
	#gFooter .sp_ul {
		display: block;
	}
	
	#gFooter .pc_ul {
		display: none;
	}
	
	#gFooter .suBox {
		background: #ff8e7a;
		padding: 18px 0;
	}
	
	#gFooter .sp_ul {
		float: none;
		margin: 0 auto;
		padding: 0;
		
	}
	
	#gFooter .sp_ul li {
		margin: 0;
	}
	
	#gFooter .sp_ul li:last-child {
		float: right;
	}
			
	#gFooter .copyright {
		float: none;
		padding: 15px 0 10px;
		text-align: center;
		width: 100%;
	}
	
	#gFooter .copyright img {
		width: 74%;
	}
}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
.pcmode body {
	background: url(../../img/common/body_bg02.png) repeat center top;
	color: #4e4e4e;
	font-size: 12px;
	line-height: 1.5;
	-webkit-text-size-adjust: none;
	min-width: 1000px;
}

.pcmode #container {
	text-align: left;
	margin: 0 auto;
	width: 980px;
}

.pcmode #main {
	overflow: hidden;
	zoom: 1;
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
.pcmode #gHeader h1 {
	float: left;
}

.pcmode #gHeader h1 a:hover img {
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.pcmode #gHeader .rBox {
	background: #fffbf2;
	float: right;
	width: 733px;
	text-align: center;
}

.pcmode #gHeader .rBox a:hover img {
	filter: alpha(opacity=90);
	opacity: 0.9;
}

.pcmode #gHeader .hBox {
	display: none;
}

.pcmode #gHeader .hInner {
	display: none;
}

.pcmode #gHeader .spBox {
	display: none;
}

.pcmode .spInner {
	display: none;
}

/*------------------------------------------------------------
	gNavi
------------------------------------------------------------*/
.pcmode #gNavi {
	margin: 7px 23px 9px 23px;
	padding: 0 ;
	border-top: solid 3px #17293f;
	border-bottom: solid 3px #17293f;
}

.pcmode #gNavi li {
	padding: 9px 0;
	border-bottom: solid 1px #17293f;
}

.pcmode #gNavi li a {
	display: block;
}

.pcmode #gNavi .navi01 a {
	background: url(../../img/common/g_navi01_over.png) no-repeat;
}

.pcmode #gNavi .navi02 a {
	background: url(../../img/common/g_navi02_over.png) no-repeat;
}

.pcmode #gNavi .navi03 a {
	background: url(../../img/common/g_navi03_over.png) no-repeat;
}

.pcmode #gNavi .navi04 a {
	background: url(../../img/common/g_navi04_over.png) no-repeat;
}

.pcmode #gNavi .navi05 a {
	background: url(../../img/common/g_navi05_over.png) no-repeat;
}

/*------------------------------------------------------------
	sideBar
------------------------------------------------------------*/
.pcmode #sideBar {
	float: left;
	width: 247px;
	background: #fdfffa;
}

.pcmode #sideBar .sideBox {
	
}

.pcmode #sideBar .ttlImg {
	padding-bottom: 9px;
	text-align: center;
}

.pcmode #sideBar .newsBox {
	margin: 0 23px 9px;
	background: url(../../img/common/newsBox_bg.png) no-repeat;
	padding: 52px 10px 18px 0;
}

.pcmode #sideBar .newsBox .title {
	margin-bottom: 5px;
	text-align: center;
}

.pcmode #sideBar .newsBox .dlBox {
	margin-right: 3px;
}

.pcmode #sideBar .newsBox .dlBox .scroll {
	overflow: auto;
	height: 142px;
}

.pcmode #sideBar .newsBox .dlBox dl {
	margin-left: 15px;
	color: #003564;
	font-size: 12px;
	line-height: 1.25;
}

.pcmode #sideBar .newsBox .dlBox dt {
	float: left;
}

.pcmode #sideBar .newsBox .dlBox dd {
	padding: 0 0 4px 3em;
}

.pcmode #sideBar .newsBox .dlBox dd a {
	color: #003564;
	text-decoration: none;
}

.pcmode #sideBar .newsBox .dlBox dd a:hover {
	text-decoration: underline;
}

.pcmode #sideBar .sBox {
	padding: 21px 0 31px;
}

.pcmode #sideBar .sBox .title {
	margin-bottom: 16px;
	text-align: center;
}

.pcmode #sideBar .sBox .text {
	color: #fff;
	font-size: 13px;
	line-height: 1.25;
	margin: 0 33px;
}

/*------------------------------------------------------------
	conts
------------------------------------------------------------*/
.pcmode #conts {
	float: right;
	width: 733px;
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
.pcmode #gFooter {
	clear: both;
	overflow: hidden;
}

.pcmode #gFooter .listUl {
	background-color: #ea5514;
	float: left;
	width: 247px;
}

.pcmode #gFooter .listUl li {
	float: left;
}

.pcmode #gFooter .listUl li a:hover img {
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.pcmode #gFooter .copyright {
	background-color: #17293f;
	float: right;
	padding: 16px 41px 10px 0;
	text-align: right;
	width: 692px;
}

.pcmode #gFooter .copyright img {
	width: auto;
}

.pcmode #gFooter .pc_ul {
	display: block;
}

.pcmode #gFooter .sp_ul {
	display: none;
}

.pcmode #gFooter .suBox {
	display: none;
}

.pcmode #gHeader h1 {
	display: block;
}

.pcmode #gHeader .rBox {
	display: block;
}

.pcmode #sideBar {
	display: block;
}

	
.spmode body {
	min-width: inherit;
	
	background: #fffbf2;
}
	
.spmode #container {
	width: auto;
}
	
.spmode #gHeader h1 {
	display: none;
}
	
.spmode #gHeader .rBox {
	display: none;
}
	
.spmode #gHeader .hBox {
	display: block;
}
	
.spmode #gHeader .hBox img {
	width: 100%;
}
	
.spmode #gHeader .hBox h1 {
	display: block;
	width: 100%;
	
	height: 75px;
	text-align: center
}

.spmode #gHeader .hBox h1 img{
	height: 75px;
	width: auto;
}
	
.spmode #gHeader .hBox .menu {
	position: absolute;
	top: 25px;
	right: 20px;
	width: 30px;
	height: 33px
}
	
.spmode #gHeader .hInner {
	background: url(../../img/common/sp_bg02.jpg) repeat-y left top;
	background-size: 100% auto;
	display: block;
	padding: 0 17px 9px;
}
	
.spmode #gHeader .hInner .btnBox {
	display: none;
}
	
.spmode #gHeader .hInner .text {
	color: #fff;
	font-size: 10px;
	line-height: 1.7;
	margin: 13px 0 9px;
}
	
.spmode #gHeader .hInner .btn {
	margin: 0 30px;
}
	
.spmode #gHeader .hInner .btn img {
	display: block;
	width: 100%;
}
	
.spmode #gHeader .hInner .btn .openImg {
	display: none;
}
	
.spmode #gHeader .hInner .btn .open img {
	display: none;
}
	
.spmode #gHeader .hInner .btn .open .openImg {
	display: block;
}	
	
.spmode #gHeader .hInner .closeImg {
	text-align: center;
}
	
.spmode #gHeader .spBox {
	display: block;
}
	
.spmode #gHeader .spBox img {
	width: 100%;
}
	
.spmode .spInner {
	position: absolute;
	left: 0;
	top: 75px;
	z-index: 1500;
	width: 100%;
	box-sizing: border-box;	
}
	
.spmode .spInner .spBox {
	
}
	
.spmode .spInner .spBox .linkUl {
	border-top: solid 3px #17293f;
}
	
.spmode .spInner .spBox .linkUl li {
	width: 100%;
	border-bottom: solid 1px #17293f;
}	
	
.spmode .spInner .spBox .linkUl li img {
	width: 100%;
}
	
.spmode .spInner .spBox .btmImg {
	text-align: center;
}
	
.spmode .spInner .spBox .btmImg a {

}
	
.spmode .spInner .spBox .btmImg img {
	width: 100%;
}

.spmode .spInner .close {
	cursor: pointer;
}
	
.spmode .spInner .close img {
	width: 100%;
}
	
.spmode #conts {
	float: none;
	margin-bottom: 10px;
	width: auto;
}
	
.spmode #sideBar {
	display: none;
	float: none;
	width: auto;
}
	
.spmode #gFooter .heightLine-b {
	height: auto !important;
}
	
.spmode #gFooter .sp_ul {
	display: block;
}
	
.spmode #gFooter .pc_ul {
	display: none;
}
	
.spmode #gFooter .suBox {
	background: #ea5514;
	padding: 18px 0;
}
	
.spmode #gFooter .sp_ul {
	float: none;
	margin: 0 auto;
	padding: 0;
}
	
.spmode #gFooter .sp_ul li {
	margin: 0;
}
	
.spmode #gFooter .sp_ul li:last-child {
	float: right;
}
			
.spmode #gFooter .copyright {
	float: none;
	padding: 15px 0 10px;
	text-align: center;
	width: 100%;
}
	
.spmode #gFooter .copyright img {
	width: 74%;
}